.footer {
  margin-top: 66px;
  background: #353535;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__titre {
  padding: 22px 0px 16px 25px;
}

.footer__colonne {
  display: flex;
  padding: 16px 11px 15px 25px;
}

.footer__colonne i {
  padding-right: 11px;
}
